<!-- change the navigation depending if the user is log in or not -->
<% if current_user %>
<div class="row">
	<div class="col-sm-1"><h5>Logo</h5></div>
	<!-- hidden -->
	<div class="col-sm-4 hide-show">
		<div class="input-group">
	    <input id="smtext" type="text" class="form-control" placeholder="Search for repos">
	    <span class="input-group-btn">
	      <button class="btn btn-default" type="button">search</button>
	    </span>
	  </div>
	</div>
	<!-- hidden -->
	<div class="col-sm-1 col-sm-offset-6">
	  <h6><%= link_to "Sign Out", "/signout"%>
	  <%= image_tag current_user[:image_url], :width=> "20px", :height=> "20px" %></h6>
	</div>
</div>
  <% else %>
  <div class="row">
  	<div class="col-sm-1"><h5>Logo</h5></div>
  	<div class="col-sm-1 col-sm-offset-10">
		  <h6><%= link_to "Sign in with Github", "/auth/github" %></h6>
  	</div>
  </div>
<% end %>
<!-- end of navigation -->
<br>
<br>
<!-- Header -->
<div class="landing-pg">
	<div class="row">
		<h1 class="text-center">Generally Assembled 
		<br>
		<small>Some Assembly required</small></h1>
	</div>
	<!-- end Header -->
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
		  <div class="input-group">
		    <input id="text" type="text" class="form-control" placeholder="Search for repos">
		    <span class="input-group-btn">
		      <button class="btn btn-default" type="button">search</button>
		    </span>
		  </div>
		  <button class="col-sm-2 col-sm-offset-5 btn btn-default">index</button>
		</div>
	</div>
</div>
