<br>
<br>
<!-- Header -->
<div class="landing-pg">
	<div class="row">
		<h1 class="text-center">Generally Assembled 
		<br>
		<small>Some Assembly required</small></h1>
	</div>
	<!-- end Header -->
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
		  <div class="input-group">
		    <input id="text" type="text" class="form-control" placeholder="Search for repos">
		    <span class="input-group-btn">
		      <button class="btn btn-default" type="button"><%= link_to "Search" 	%></button>
		    </span>
		  </div>
		  <%= link_to 'All Repos', repos_path, :class=> "col-sm-2 col-sm-offset-5 btn btn-default"%>
		</div>
	</div>
</div>