body{
  height: 100%;
  min-height: 100%;
  background-color: #f2f2f2;
}
.home {
  margin-top: 130px;
}
.search-bar {
  display: block;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}
.home-search-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.input-group {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.ga-hub {
  margin-top: 15px;
}
.ga-logo {
  margin-top: 10px;
}
.index-btn {
  background-color: red;
  color: white;
}
.standard-text{
  color: white;
  text-decoration: none;
  margin-right: 17px;
}
.black-background{
  background-color: black;
}
body * {
  font-style: normal ;
  color: black ;
}

.thumbnail {
  padding: 30px !important;
  background-color: #fcfcfc !important;
  border-color:red !important;
}

.title {
  background-color: #f2f5f9 !important;
  border-color:red !important;
}

.repo-button-well {
  height: 75px;
  border-color:red !important;
}

.btn {
  margin-right: 10px;
  border-radius: 0 !important;
  border: none !important;
}
.nav-search {
  border-color:#46b8da !important;
}

.nav-btn {
  border: 1px solid #46b8da !important;
}

code {
  background-color: #dce6f2 !important;
}

.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comment-nav {
  margin-left: 5px;
  margin-bottom: 10px;
}

a {
  font-size: 10px;
  font-weight: bold;
  color: #888;
}

.reply-form {
  display: none;
}
.reply {
  margin-left: 25px;
}


h3 a {
    color: black !important;
    padding-right: 20px;
}

.thumbnail img {
  max-width: 75%;
}

.thumbnail p, li {
  font-size: 18px;
}
