body{
  padding-top: 100px;
  padding-bottom: 50px;
}
body * {
  font-style: normal ;
  color: black ;
}
code {
  background-color: #dce6f2 !important;
}
.navbar {
  background-color: white;
}
.home {
  margin-top: 130px;
}
.search-bar {
  display: block;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}
.home-search-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.input-group {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.ga-hub {
  margin-top: 15px;
}
.ga-logo {
  margin-top: 10px;
  margin-left: 12px;
}
.gh-logo {
  margin-top: 20px;
}
.index-btn {
  background-color: red;
  color: white;
}
.standard-text{
  color: white;
  text-decoration: none;
  margin-right: 17px;
}
.black-background{
  background-color: black;
}

.thumbnail {
  padding: 30px !important;
  background-color: #fcfcfc !important;
  border-color:red !important;
}

.title {
  background-color: #f2f5f9 !important;
  border-color:red !important;
}

.repo-button-well {
  left: 0 !important;
  text-align: center;
  height: 75px;
  border-color:red !important;
}
.btn {
  margin-right: 10px;
  border-radius: 0 !important;
  border: none !important;
}
.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}
.comment-nav {
  margin-left: 5px;
  margin-bottom: 10px;
}
.reply-form {
  display: none;
}
.reply {
  margin-left: 25px;
}
.thumbnail img {
  max-width: 75%;
}
.thumbnail p, li {
  font-size: 18px;
}
