<br>
<%= Repo.find_each do |repo| %>
  <div class="thumbnail col-md-10 col-md-offset-1">
    <h2><%= link_to repo.name, repo_path(repo) %></h2>
    <hr>
    <p class="teaser"><%= repo.content %></p>
  </div>
<% end %>