<br>
<div class="container-fluid">
	<div class="col-md-8">
		<div class="thumbnail">
			<h1 class="header-repos"><%= @repos.name %></h1>
			<hr>
			<h4><%= raw @repos.content%></h4>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<p>COMMENTS ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
		</div>
	</div>
</div>
